* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}
.cuerpo {
    gap: 8rem;
}
.perfil {
    height: 45rem;
    border-radius: 10px;
}
.texto {
    width: 30rem;
}

.link-underline:hover{
    
    border-bottom: 1px solid blue;
}